body {
    margin: 0;
    background-size: cover;         
    background-position: center;     
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-image: url(Login-Pic.jpg);
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.3); 
    height: 150px;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: right; 
    margin-right: 100px;
    margin-top: -100px;
    margin-left: 1110px;
}
li a {
    margin: 10px;
    color: black;
    font-size: 15px;
    position: relative;
    top: 20px;
    text-decoration: none;
    transition: 300ms ease;
}
li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: black;
  left: 0;
  bottom: -6px;
  transition: 300ms ease;
}
li a:hover::after {
  width: 100%;
}
h1 {
    margin-left: 40px;
    padding: 3px;
    line-height: 0cm;
    font-weight: lighter;
    font-size: 30px;
    position: relative;
    top: -30px;
}
.EX {
    margin-left: 70px;
}
header {
    background-color: grey;
    padding: 30px;
    border: 2px solid black;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
}
li a:hover {
    color: white;
}
h3 {
    font-family: "Playfair Display";
    position: relative;
    top: 450px;
    margin-left: -20px;
}
ul {
    list-style: none;
}
@media (max-width: 480px) {
  .login-box {
    width: 90%;
    padding: 25px;
  }
}
.login-btn {
  width: 30%;
  background: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid black;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: -50px;
}
.login-btn:hover {
  background: white;
  color: black;
}
.login-container {
  width: 400px;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 40px;
  margin-left: 528px;
  margin-right: 550px;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}
.login-container h2 {
  font-size: 28px;
  font-family: "Courier New", monospace;
  margin-bottom: 25px;
}
/* Inputs */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}
.login-container input[type="firstname"],
.login-container input[type="lastname"] {
  width: 40%;
  padding: 10px;
  margin: 10px 8px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}
.gender-section {
  text-align: left;
  margin: 15px 0;
  font-family: "Courier New", monospace;
}

.gender-label {
  display: block;
  font-weight: 600;
  margin: 10px;
  text-align: left;
  margin-left: -5px;
  font-family: "Courier New", monospace;
}
.gender-options {
  display: flex;
  gap: 20px; 
  align-items: center;
  flex-wrap: wrap;
  margin-left: -7px; 
}

.gender-options label {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.gender-options input[type="radio"] {
  margin-right: 5px;
  transform: scale(1.1); 
  cursor: pointer;
}
.optionss {
    margin-top: 15px;
    font-family: "Courier New", monospace;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #111;
  color: white;
  padding: 40px 60px;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  position: relative;
  top: 130px;
}
.footer-section {
  width: 30%;
}

.footer-section h3 {
  color: #f7b733;
  margin-bottom: 10px;
  position: relative;
  top: 0px;
  margin-left: 10px;
}

.footer-section p {
  font-size: 13px;
  color: #ccc;
  line-height: 1.5;

}
.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section a:hover {
  color: #f7b733;
}
.footer-section.Help a {
  display: block;          
  color: #ccc;            
  text-decoration: none;   
  margin: 5px 0;           
  font-size: 13px;         
  cursor: pointer;         
  transition: color 0.3s;
  line-height: 1.5;
}
.footer-section.Help {
  width: 100px;
  position: relative;
  left: 80px;
}
.footer-section.Help a:hover {
  color: #f7b733;
}
.footer-section.Follow p {
  width: 140px;
}
.footer-section.Follow {
  position: relative;
  left: 180px;
}