body {
    margin: 0;
    background-size: cover;         
    background-position: center;        
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-blend-mode: lighten;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 60px;
}
/* ===== MAIN HEADER ===== */
nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: right;
    margin-right: 100px;
    margin-top: -100px;
    margin-left: 1110px;
}
li a {
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    position: relative;
    top: 20px;
    text-decoration: none;
    transition: 300ms ease;
    font-family: sans-serif;
}
li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: rgb(0, 0, 0);
  left: 0;
  bottom: -6px;
  transition: 300ms ease;
  font-family: sans-serif;
}
li a:hover::after {
  width: 100%;
}
h1 {
    margin-left: 40px;
    padding: 3px;
    line-height: 0cm;
    font-weight: lighter;
    font-size: 30px;
    position: relative;
    top: -30px;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}
.EX {
    margin-left: 70px;
}
header {
    padding: 30px;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
}
li a:hover {
    color: #f7b733;
}
h3 {
    font-family: "Playfair Display";
    position: relative;
    top: 450px;
    margin-left: -20px;
}
ul {
    list-style: none;
}
.complete-layout {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 30px 40px 100px 40px;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #444;
  position: relative;
  left: 0px;
}
.breadcrumb b {
  color: #f7b733;
}

.confirmation {
  background: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  max-width: 500px;
  justify-content: center;
  margin-bottom: 100px;
}

.confirmation h2 {
  text-align: center;
  margin-bottom: 15px;
}

.order-details {
  margin-top: 20px;
  font-size: 14px;
}

.home-btn {
  background: #ffb100;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
}

.home-btn:hover {
  background: #ffa000;
}
/* FOOTER TERMS */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #111;
  color: white;
  padding: 40px 60px;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  position: relative;
  top: 0px;
}
.footer-section {
  width: 30%;
}

.footer-section h3 {
  color: #f7b733;
  margin-bottom: 10px;
  position: relative;
  top: 0px;
  margin-left: 10px;
}

.footer-section p {
  font-size: 13px;
  color: #ccc;
  line-height: 1.5;

}
.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section a:hover {
  color: #f7b733;
}
.footer-section.Help a {
  display: block;          
  color: #ccc;            
  text-decoration: none;   
  margin: 5px 0;           
  font-size: 13px;         
  cursor: pointer;         
  transition: color 0.3s;
  line-height: 1.5;
}
.footer-section.Help {
  width: 100px;
  position: relative;
  left: 80px;
}
.footer-section.Help a:hover {
  color: #f7b733;
}
.footer-section.Follow p {
  width: 140px;
}
.footer-section.Follow {
  position: relative;
  left: 180px;
}